<head>
<link rel="stylesheet" type="text/css" href="mystyle.css">
</head>
hr {color:sienna;}
p {margin-left:20px;}
body {background-image:url("../images/back40.gif");}

/* common */
* {
  position: relative;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}



/* gb-header */
.gb-header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 77px;
  border-bottom: 1px solid rgba(0, 0, 0, .0975);
  background-color: #ffffff;
}
.gb-header > .wrap {
  display: flex;
  align-items: center;
  height: 100%;
  max-width: 1010px;
  padding: 0 40px;
  margin: 0 auto;
}
.gb-header > .wrap > * {
  flex: 1;
}

.gb-header .logo {
  height: 35px;
}

.gb-header .search > input {
  display: block;
  width: 215px;
  height: 28px;
  padding: 3px 10px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  margin: 0 auto;
  background-color: #fafafa;
  font-size: 14px;
  color: #262626;
}

.gb-header .menu {
  list-style: none;
  height: 24px;
  font-size: 0;
  text-align: right;
}
.gb-header .menu > li {
  display: inline-block;
  margin-right: 30px;
}
.gb-header .menu > li:last-child {
  margin: 0;
}


/* post-container */
.post-container {
  padding: 137px 0 60px;
  background-color: #fafafa;
}
.post-container > .wrap {
  max-width: 600px;
  margin: 0 auto;
}

.post-container .post {
  margin-bottom: 60px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  background-color: #ffffff;
}

.post > .post-header {
  height: 60px;
  padding: 16px 16px 16px 56px;
  border-bottom: 1px solid #efefef;
  font-size: 14px;
  font-weight: 600;
  line-height: 28px;
  color: #262626;
}
.post > .post-header > .profile {
  display: block;
  position: absolute;
  left: 16px;
  top: 16px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
.post > .post-header > .profile > img {
  width: 100%;
  height: 100%;
}

.post > .thumbnail {
  font-size: 0;
  margin: 0 -1px 4px;
  /* 커스텀 */

/* 슬라이더 1 시작 */
.slider-1 {
    height:400px;
    position:relative;
}

/* 슬라이더 1 - 페이지 버튼 */
.slider-1 > .page-btns {
    text-align:center;
    position:absolute;
    bottom:20px;
    left:0;
    width:100%;
}

.slider-1 > .page-btns > div {
    width:20px;
    height:20px;
    background-color:rgba(255,255,255,.5);
    border-radius:4px;
    display:inline-block;
    cursor:pointer;
}

.slider-1 > .page-btns > div.active {
    background-color:rgba(255,255,255,1);
}

/* 슬라이더 1 - 슬라이드 */

.slider-1 > .slides > div {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity:0;
    transition: opacity 0.3s;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
}

.slider-1 > .slides > div.active {
    opacity:1;
}

/* 슬라이더 좌우 버튼 */
.slider-1 > .side-btns > div {
    position:absolute;
    top:0;
    left:0;
    width:25%;
    height:100%;
    cursor:pointer;
}
.slider-1 > .side-btns > div:last-child {
    left:auto;
    right:0;
}
.slider-1 >.side-btns > div > span {
    position:absolute;
    top:50%;
    left:20px;
    transform:translatey(-50%);
    background-color:white;
    opacity:0.5;
    padding:1px 13px;
    border-radius:50px;
    font-size:25px;
}
.slider-1 >.side-btns > div:last-child > span {
    left:auto;
    right:20px;
}

/* 슬라이더 1 끝 */
}
.post > .thumbnail > img {
  width: 100%;
}

.post > .post-footer {
  padding: 0 16px;
}

.post > .post-footer > .btn-container {
  list-style: none;
  height: 40px;
  padding: 8px 0;
  font-size: 0;
}
.post > .post-footer > .btn-container > li {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.post > .post-footer > .like-container {
  height: 18px;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  color: #262626;
}

.post > .post-footer > .text-container {
  font-size: 14px;
  line-height: 18px;
}
.post > .post-footer > .text-container > a {
  font-weight: 600;
}

.post > .post-footer > .time-container {
  height: 18px;
  margin-bottom: 8px;
  font-size: 10px;
  line-height: 18px;
  color: #999999;
}

.post > .post-footer > .comment-container {
  height: 56px;
  padding: 16px 28px 16px 0;
  border-top: 1px solid #efefef;
}
.post > .post-footer > .comment-container > textarea {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 14px;
  color: #262626;
  resize: none;
}
.post > .post-footer > .comment-container > a {
  display: block;
  position: absolute;
  top: 20px;
  right: 6px;
  width: 16px;
  height: 16px;
}
